.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  height: calc(100vh - 8.125rem);
  margin-top: 2%;
  padding: 0 1.25rem;
  z-index: 1;
  text-align: center; 
}

.card {
  width: 100%;
  max-width: 34.375rem;
  height: auto;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  background-color: #e4cabf;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.title {
  color: #000;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-family: "Inria Serif", sans-serif;
}

.formGroup {
  width: 100%;
  margin-bottom: 1rem;
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: "Inria Serif", sans-serif;
}

.input {
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.875rem;
  border: 0.0625rem solid #000000;
  border-radius: 0.5rem;
  background-color: #d9d9d9;
  font-family: "Inria Serif", sans-serif;
}

.button {
  height: 2.25rem;
  width: 100%;
  background-color: #090908;
  color: #fff;
  border: none;
  border-radius: 0.9375rem;
  font-size: 0.875rem;
  cursor: pointer;
  margin-top: 1.25rem;
  font-family: "Inria Serif", sans-serif;
}

.button:hover {
  background-color: #1a1a1a;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0.5rem);
  z-index: -1;
}

.goHomeContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 1.25rem;
  margin-top: 0.625rem;
}

.goHomeButton {
  height: 2.5rem;
  width: 8.125rem;
  background-color: #e4cabf;
  color: #000;
  border: none;
  border-radius: 0.625rem;
  font-size: 0.75rem;
  cursor: pointer;
  font-family: "Inria Serif", sans-serif;
}

.goHomeButton:hover {
  background-color: #d2b59e;
}

.passwordContainer {
  position: relative;
}

.togglePasswordButton {
  position: absolute;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  color: #007bff;
  font-family: "Inria Serif", sans-serif;
}

.errorContainer {
  margin-bottom: 1.25rem;
  padding: 0.625rem;
  background-color: rgb(211, 201, 201);
  border-radius: 0.25rem;
  max-width: 100%;
  box-sizing: border-box;
}

.error {
  text-align: center;
  margin-bottom: 0.3125rem;
  font-size: 0.75rem;
  color: rgb(255, 0, 0);
  font-family: "Inria Serif", sans-serif;
}

@media (max-width: 768px) {
  .card {
    padding: 1.875rem 1.25rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .label {
    font-size: 0.875rem;
  }

  .input {
    height: 1.875rem;
    font-size: 0.75rem;
  }

  .button {
    height: 2rem;
    font-size: 0.75rem;
  }

  .goHomeButton {
    height: 1.875rem;
    width: 6.25rem;
    font-size: 0.625rem;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 1.25rem 0.625rem;
  }

  .title {
    font-size: 1.125rem;
  }

  .label {
    font-size: 0.75rem;
  }

  .input {
    height: 1.625rem;
    font-size: 0.625rem;
  }

  .button {
    height: 1.75rem;
    font-size: 0.625rem;
  }

  .goHomeButton {
    height: 1.625rem;
    width: 5rem;
    font-size: 0.5rem;
  }
}


