.d-flex p {
  background-color: transparent; /* Прозрачный фон для параграфов */
  color: white;
}

.date{
  margin-left: 310px;
  margin-right: 420px;
}

.quantity{
  margin-left: 500px;
}

.total{
  margin-left: 460px;
}

.d-flex p {
  width: 5%; /* Установите ширину для каждого параграфа */
  display: inline-block;
  text-align: center;
}

.date {
  width: 25%; /* Например, дата может занимать больше места */
}

.quantity {
  width: 25%;
}

.total {
  width: 25%;
}