.tableContainer {
  width: 100%;
  padding-left: 13%;
  padding-right: 0%;
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  height: 910px;
  margin: auto;
  background-color: #181716;
}

.squareOne {
  width: 450px;
  height: 400px;
  background-color: white;
}

.squareTwo {
  margin-top: 20px;
  width: 450px;
  height: 280px;
  background-color: white;
}

.squareThree {
  width: 1100px;
  height: 230px;
  background-color: white;
}

.squareThree h1,
h2,
h5,
h6 {
  color: black;
}

.squareFour {
  margin-top: 20px;
  width: 1100px;
  height: 220px;
  background-color: white;
}

.squareFive {
  margin-top: 20px;
  width: 1100px;
  height: 210px;
  background-color: white;
}

.quantity {
  margin-left: 20px;
}

.serviceButtons {
  position: absolute;
  right: 70px;
  bottom: 60px;
}

.cardButtonEdit {
  width: 300px;
  padding: 15px;
  font-size: 20px;
  font-family: "Inria Serif", serif;
  background-color: #774136;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cardButtonDelete {
  width: 300px;
  padding: 15px;
  font-size: 20px;
  font-family: "Inria Serif", serif;
  background-color: #d3583f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cardButtonArchive {
  width: 300px;
  padding: 15px;
  font-size: 20px;
  font-family: "Inria Serif", serif;
  background-color: #797979;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.descriptionInput,
.characteristicsInput {
  width: 1000px;
  height: 150px;
}

.addButton {
  font-family: "Inria Serif", serif;
  background-color: #1b8b57;
  width: 300px;
  padding: 15px;
  font-size: 20px;
  font-family: "Inria Serif", serif;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.titleInput{
  margin-top: 3%;
  margin-left: 4%;
  border: 1px solid rgba(0, 0, 0, .3);
  padding: 10px;
  width: 1000px;
}

.priceInput{
  margin-left: 2.5%;
}

.cardButtonArchive:hover, .addButton:hover, .cardButtonDelete:hover, .cardButtonEdit:hover {
  background-color: #353535;
}

.titleInput:hover, .quantityInput:hover, .priceInput:hover, .characteristicsInput:hover, .descriptionInput:hover{
  background-color: #bebebe;
}
