/* Общие стили карточки */
.card {
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
  width: 100%;
  max-width: 18rem;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  position: relative;
  box-sizing: border-box;
  /* Адаптивные стили для ширины карточек */
  flex: 0 1 calc(25% - 20px);
}

/* Стили изображения карточки */
.cardImage {
  width: 100%;
  height: 260px;
  margin-bottom: 7px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noImagePlaceholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e6e6;
  color: #888;
  font-size: 1.2em;
}

/* Стили тела карточки */
.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0 10px;
  background-color: #d9d9d9;
}

.cardTitle {
  font-size: 20px;
  text-align: center;
  font-family: "Inria Serif", serif;
  color: black;
  margin: 0;
}

.cardPrice {
  font-size: 18px;
  text-align: center;
  font-family: "Inria Serif", serif;
  color: black;
  margin: 0;
  margin-bottom: 7px;
}

/* Стили кнопки карточки */
.cardButton {
  width: 100%;
}

.cardButtonText {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-family: "Inria Serif", serif;
  background-color: #774136;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0 0 5px 5px;
}

.cardButtonText:hover {
  background-color: #333;
}

/* Для экранов от 768px до 991px (3 колонки) */
@media (max-width: 991px) {
  .card {
    flex: 1 1 calc(33.333% - 20px); /* 3 колонки */
  }
}

/* Для экранов от 576px до 767px (2 колонки) */
@media (max-width: 767px) {
  .card {
    flex: 1 1 calc(50% - 20px); /* 2 колонки */
  }
}

/* Для экранов менее 576px (1 колонка) */
@media (max-width: 575px) {
  .card {
    flex: 1 1 100%; /* 1 колонка */
  }
}
